
.doctor-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

.doctor-main-content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;
  padding: 25px;
  transition: all 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {

  .doctor-main-content {
    width: 100%;
    padding: 15px;
  }

}
